
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #d6d6d6;
    background-blend-mode: color-burn;
    margin-top: 4em;
}

section {
    max-width: 400px;  
    height: max-content;
    border: 1.5px solid #252926b6;
    padding:25px;
    margin:10px;
}

img {
    width:100%;
    max-width:400px;
}

h1 {
    font-family: plantin-condensed, sans-serif;
    color: #000000b6;
    font-size: 2.75em;
    text-align: center;
}

#description {
    text-align: center;
}

h2 {
    font-family: plantin-condensed, sans-serif;
    color: #000000b6;
    margin: auto 0px 20px 0px;
    text-align: center;
}

h3 {
    font-family: IBM Plex mono, sans serif;
    font-weight: 700;
    font-size: 0.8em;
    margin: 20px 0px 10px 0px;
    color: #000000b6;
}

p {
    font-family: IBM Plex mono, sans serif;
    font-weight: 500;
    font-size: 0.8em;
    margin: 10px 0px 10px 0px;
    color: #000000b6;
}

#content {
    margin: 2em;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}